# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
doc

# Environment files
.env
.env.*
backend/.env
backend/.env.*

.agent
steps.md
desc.md
h.txt
ui.txt
check_db.js

backend/build_errors.txt
backend/err.txt
blockchain/compile_error.txt
blockchain/out.txt
presnopsis.md

Synopsis

